* {
    background-color: black;
}

h1, header, footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    color: plum;
}

header p {
    margin-bottom: 3%;
    color: white;
}

.content-box {
    display: inline-grid;
    flex-direction: row;
    padding: 15px;
    border:  dotted white;
    width: 30%;
}

.content-box p {
   color: plum;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}

.top-row .content-box-header {
  position: relative;
  top: -52px;
  color: plum;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  width: 98%;
  padding: 2px;
}


.bottom-row .content-box-header {
    position: relative;
    top: -52px;
    color: plum;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    width: 98%;
    height: 35%;
    padding: 2px;
  }

pre {
    /* text-align: left; */
    margin-left: -80px;
    color: white; 
}


.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
