/* * {
    background-color: black;
}

h1, header, footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    color: plum;
}

header p {
    margin-bottom: 3%;
    color: white;
}

.content-box {
    display: inline-grid;
    flex-direction: row;
    padding: 15px;
    border:  dotted white;
    width: 30%;
}

.content-box p {
   color: plum;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3%;
}

.top-row .content-box-header {
  position: relative;
  top: -52px;
  color: plum;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  width: 98%;
  padding: 2px;
}


.bottom-row .content-box-header {
    position: relative;
    top: -52px;
    color: plum;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    width: 98%;
    height: 35%;
    padding: 2px;
  }

pre {
    /* text-align: left; */
    /* margin-left: -80px; */
    /* background-image: linear-gradient (
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    ); 
} */


/* .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: black;
}

body {
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

header, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    /* max-width: 960px; Removing this made everything perfect*/ 
    margin: 0;
    padding: 10px;
}

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
    color: plum;
    margin-bottom: 2%;
}

header p {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 2%;
    color: white;
}



.top-row {
    display: grid;
    grid-template-areas: 
    'section section section'
    'section section section';
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.content-box {
    display: inline-box;
    /* flex-direction: row; */
    padding: 15px;
    border:  dotted white;
    width: 100%;
}


.bottom-row {
    display: grid;
    grid-template-areas: 
    'section section section'
    'section section section';
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.content-box h2 {
    position: relative;
    margin-top: -35px;
    color: plum;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    width: 98%;
    padding: 2px;
}
.content-box p {
    color: white; 
}

footer {
    margin-top: 2%;
    color: plum;
}

pre {
    color: white;
}